# Next.js
.next/
out/

# Dependencies
node_modules/
/.pnp
.pnp.js

# Production build logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Environment variables
.env*.local
.env

# Vercel
.vercel

# TypeScript
*.tsbuildinfo
next-env.d.ts
